@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@600&display=swap');

html{
    font-family: 'Source Sans Pro', sans-serif;
}


.container{
    margin-top: 50px;
}
.newarrival{
    background: green;
    width: 50px;
    color: whitesmoke;
    font-size: 12px;
    font-weight: bold;
    margin-top: 15px;
}
.ass{
    height: 23px;
    margin-top: 15px;
}
.price{
    margin-top: 10px;
    font-size:xx-large;
}
.star{
    background: green;
    width: 42px;
}
